* {
    box-sizing: border-box;
}

body {
    font-family: Arial;
    padding: 10px;
    background: white;
}


.logo {
    align-content: center;
}

/* Nav Bar */
.topnav {
    overflow: hidden;
    padding:14px 16px;
    float: center;
}

/* Nav Links */
.topnav a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Nav Hover Colour */
.topnav a:hover {
    background-color: white;
    color: black;
}

.leftcolumn {
    float: left;
    width: 75%;
}

.rightcolumn {
    float: left;
    width: 25%;
    background-color: #f1f1f1;
    padding-left: 20px;
}

/* Fake image */
.fakeimg {
    background-color: white;
    width: 100%;
    padding: 20px;
}

/* Image */
.img {
    text-align: center;

}

